<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$l1lll1l1l11l11lllllll1lll11111l['title']}</title>
<meta name="format-detection" content="telephone=no, address=no">
<meta name="apple-mobile-web-app-capable" content="yes" /> 
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaofmoblieui.css" rel="stylesheet">
<link href="{$_W['siteroot']}app/resource/css/font-awesome.min.css" rel="stylesheet">
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaoftoupiao.css" rel="stylesheet">
{php echo register_jssdk(false);}
<script src="{$_W['siteroot']}app/resource/js/require.js"></script>
<style>
.order .cur,.group .cur,.bottom-tabbar .cur span,.grid-item .pic-box .vote{ color:{$l1lll1l1l11l11lllllll1lll11111l['buttoncolor']};}
.grid-item .pic-box .vote{ border: 1px solid {$l1lll1l1l11l11lllllll1lll11111l['buttoncolor']};}
.xiaof-button,.xiaof-button-small{ background:{$l1lll1l1l11l11lllllll1lll11111l['buttoncolor']};}
</style>
<script type="text/javascript">
require.config({
	baseUrl: '{MODULE_URL}template/mobile/xiaofweui/js',
	//urlArgs: "v={php echo time();}",
	paths: {
		'css': '{$_W['siteroot']}web/resource/js/lib/css.min',
		'jquery': 'jquery-2.2.3.min',
		'swiper': 'swiper.jquery.min',
		'imagesloaded': 'imagesloaded.min',
		'masonry': 'masonry.pkgd.min',
		'xiaof': 'xiaofmoblieui',
		'main': 'main'
	},
	shim:{
		'swiper': {
			exports: 'swiper',
			deps: ['jquery', 'css!{MODULE_URL}template/mobile/xiaofweui/css/swiper.min.css']
		},	
		'imagesloaded': {
			exports: 'imagesloaded',
			deps: ['jquery']
		},	
		'xiaof': {
			exports: 'xiaof',
			deps: ['jquery']
		}	
	}
});
</script>
</head>
<body>

<div class="head">
    <div class="head-banner">
		{if is_array($l1lll1l1l11l11lllllll1lll11111l['thumb'])}
			{if count($l1lll1l1l11l11lllllll1lll11111l['thumb']) <=1}
				<a href="{php echo trim($l1lll1l1l11l11lllllll1lll11111l['thumblinkarr'][0]);}"><img src="{php echo tomedia(reset($l1lll1l1l11l11lllllll1lll11111l['thumb']))}"></a>
			{else}
				<div class="swiper-container">
				  <div class="swiper-wrapper">
					{php $llll1llll1ll1llll1l11111l111ll1 = 0;}
					{loop $l1lll1l1l11l11lllllll1lll11111l['thumb'] $llll11lll1lll1111111lll1ll1l111}
					<div class="swiper-slide"><a href="{php echo trim($l1lll1l1l11l11lllllll1lll11111l['thumblinkarr'][$llll1llll1ll1llll1l11111l111ll1]);}"><img src="{php echo tomedia($llll11lll1lll1111111lll1ll1l111);}"></a></div>
					{php $llll1llll1ll1llll1l11111l111ll1++;}
					{/loop}
				  </div>
				</div>				
				<script> 
					require(['swiper'], function(Swiper){
						new Swiper('.swiper-container', {
							autoplay: 3000
						})
					});	
				</script>				
			{/if}
		{else}
        <img src="{php echo tomedia($l1lll1l1l11l11lllllll1lll11111l['thumb'])}">
		{/if}
    </div>
</div>

<div class="footer-article-list wrapper">

	<div class="footer-article-title" >
		<h3>
		报名参加
		</h3>
	</div>
    <div class="footer-article-content">
		<form id="join-form">
		<input type="hidden" name="pid" value="{$l11lll1l1llll11lll1l1l1111l111l['id']}"/>
		{if $l1lll1l1l11l11lllllll1lll11111l['opengroups'] >= 1}
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>组别</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<select class="xiaof-form-input" name="groups">
						{loop $l1lll1l1l11l11lllllll1lll11111l['groups'] $l1ll1l111111l1l1111l1l1lll1ll1l $ll1lll1ll1l1lll1llllll1111lll11}
						<option {if $l1ll1l111111l1l1111l1l1lll1ll1l == $l11lll1l1llll11lll1l1l1111l111l['groups']} selected{/if} value="{$l1ll1l111111l1l1111l1l1lll1ll1l}">{$ll1lll1ll1l1lll1llllll1111lll11['name']}</option>
						{/loop}
					</select>
				</div>
			</div>	
		</div>	
		{/if}
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>名称</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<input class="xiaof-form-input" id="name" name="name" value="{$l11lll1l1llll11lll1l1l1111l111l['name']}" {if isset($l11lll1l1llll11lll1l1l1111l111l['id'])}disabled="disabled"{/if} placeholder="请输入您的姓名或昵称"/>
				</div>
			</div>	
		</div>	
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>手机号</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<input class="xiaof-form-input" id="phone" type="tel" name="phone" value="{$l11lll1l1llll11lll1l1l1111l111l['phone']}" {if isset($l11lll1l1llll11lll1l1l1111l111l['id'])}disabled="disabled"{/if} placeholder="请输入您的手机号"/>
				</div>
			</div>	
		</div>	
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>照片</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<div class="clearfix pic-box">
						<span class="pic-container fn-left" id="pic-container">
							{loop $ll11l11l1111l1ll1llll11111l11ll $lllll11l11l1111l1l1111ll1llll1l}
							<span class='picid' onclick="$(this).remove();"><div class='pic-close'>x</div><input type="hidden" name="pics[]" value="{$lllll11l11l1111l1l1111ll1llll1l['url']}"/><img src="{php echo tomedia($lllll11l11l1111l1l1111ll1llll1l['thumb']);}"/></span>
							{/loop}
						</span>
						<span class="pic-button fn-left" id="filepicker"></span>
					</div>	
				</div>
			</div>	
		</div>
		{if $l1lll1l1l11l11lllllll1lll11111l['opensound'] >= 1}		
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>语音</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<div class="clearfix sound-box">
						<span class="fn-left" id="sound-container">
							{if !empty($l11lll1l1llll11lll1l1l1111l111l['sound'])}
							<input type='hidden' name='sound' value="{$l11lll1l1llll11lll1l1l1111l111l['sound']}"/><span class='sound-play sound-play-1 off1'><i class='fa fa-volume-up'></i></span>
							{/if}
						</span>
						<span class="fn-left xiaof-button-small sound-button" id="sound">点击录制一分钟音频</span>
					</div>	
					<script>
					require(['jquery', 'main'], function($, xiaoftoupiao){
						var audio;
						$(".sound-play-1").click(function(){
							if($('#media').length <= 0){
								var audioSrc = "{$l11lll1l1llll11lll1l1l1111l111l['sound']}";
								$("body").append('<audio id="media" preload="auto" src="'+audioSrc+'" loop></audio>');
								audio = $('#media');
							}
							if($(this).hasClass("off1")){
								$(this).removeClass("off1");
								audio[0].play();
							}else{
								$(this).addClass("off1");
								audio[0].pause();
							}
						});					
						xiaoftoupiao.soundUpload();
					});
					</script>					
				</div>
			</div>	
		</div>	
		{/if}
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>介绍</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<textarea class="xiaof-form-input" id="describe" name="describe" placeholder="您的自我介绍">{$l11lll1l1llll11lll1l1l1111l111l['describe']}</textarea>
				</div>
			</div>	
		</div>	
		{loop $l1lll1l1l11l11lllllll1lll11111l['joinfield'] $l11l1lll1111111ll1ll1111l11lll1}	
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>{$l11l1lll1111111ll1ll1111l11lll1['name']}</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<input class="xiaof-form-input" id="{$l11l1lll1111111ll1ll1111l11lll1['sign']}" name="{$l11l1lll1111111ll1ll1111l11lll1['sign']}" placeholder="请输入{$l11l1lll1111111ll1ll1111l11lll1['name']}" value="{$l11lll1l1llll11lll1l1l1111l111l['data'][$l11l1lll1111111ll1ll1111l11lll1['sign']]}" />
				</div>
			</div>	
		</div>	
		{/loop}
		</form>
    </div>
	
	<div class="show-button-group">
	<span class="xiaof-button" id="form-submit">{if isset($l11lll1l1llll11lll1l1l1111l111l['id'])}确认修改{else}确认报名{/if}</span>
	{if isset($l11lll1l1llll11lll1l1l1111l111l['id'])}<a class="xiaof-button" href="{php echo $this->ll11ll1l1l11l11ll11llll1l1ll11l('show','xiaof_toupiao','&id='.$l11lll1l1llll11lll1l1l1111l111l['id'].'');}">查看我的参赛页</a>{/if}
	</div>
</div>

{template $l1lll1l1l11l11lllllll1lll11111l['template'].'footer'}

<script type="text/javascript">
require(['jquery', 'main', 'xiaof'], function($, xiaoftoupiao){
	{if $l1lll1l1l11l11lllllll1lll11111l == false}
	$.xiaof.alert('提示', "没有找到该活动");
	{elseif time() <= strtotime($l1lll1l1l11l11lllllll1lll11111l['joinstart'])}
	$.xiaof.alert('提示', "活动报名未开始，请开始后再参加，开始时间{$l1lll1l1l11l11lllllll1lll11111l['joinstart']}");
	{elseif time() >= strtotime($l1lll1l1l11l11lllllll1lll11111l['joinend'])}
	$.xiaof.alert('提示', "活动已结束，敬请期待下次活动{$l1lll1l1l11l11lllllll1lll11111l['joinend']}");
	{elseif $l1lll1l1l11l11lllllll1lll11111l['openwapjoin'] == 1}
	$.xiaof.alert('提示', '<p style="text-align:center;">已禁止网页报名！</p>');
	{elseif $_W['container'] !== 'wechat'}
	$.xiaof.alert('提示', "活动只允许在微信上报名参加，请在微信上打开本页面");
	{elseif $l1lll1l1l11l11lllllll1lll11111l['joinfollow'] == 1 && !$this->l1ll111l1lll1l1lll11l1l1ll1111l()}
		{if empty($l1lll1l1l11l11lllllll1lll11111l['followtipstype'])}
		$.xiaof.alert('提示', '{if !empty($l1lll1l1l11l11lllllll1lll11111l['followjointext'])}<p style="text-align:center;">{$l1lll1l1l11l11lllllll1lll11111l['followjointext']}</p>{/if}<img width="100%" src="{php echo tomedia($l1lll1l1l11l11lllllll1lll11111l['accountqrcode']);}"/>');
		{else}
		$.xiaof.alert('提示', '{if !empty($l1lll1l1l11l11lllllll1lll11111l['followjointext'])}<p style="text-align:center;">{$l1lll1l1l11l11lllllll1lll11111l['followjointext']}</p>{/if}<div class="play-voice"><img class="voice-on" src="{MODULE_URL}template/mobile/xiaofweui/picture/ms.png"/><img class="voice-off" src="{MODULE_URL}template/mobile/xiaofweui/picture/mp.png"/></div>');
		xiaoftoupiao.playVoice("{php echo tomedia($l1lll1l1l11l11lllllll1lll11111l['followvoice']);}");
		{/if}
	{else}
	xiaoftoupiao.upload({if empty($l1lll1l1l11l11lllllll1lll11111l['joinjumplink'])}false{else}"{$l1lll1l1l11l11lllllll1lll11111l['joinjumplink']}"{/if}, {if empty($l1lll1l1l11l11lllllll1lll11111l['limitpic'])}5{else}{$l1lll1l1l11l11lllllll1lll11111l['limitpic']}{/if});
	{/if}
});
</script>

</body>
<script type="text/javascript">
        wx.ready(function () {
            wx.onMenuShareAppMessage({
                title: '{$l1lll1l1l11l11lllllll1lll11111l['sharetitle']}',
                desc: '{php echo trim($l1lll1l1l11l11lllllll1lll11111l['sharecontent']);}',
                link: '{php echo $this->ll11ll1l1l11l11ll11llll1l1ll11l('join','xiaof_toupiao')}',
                imgUrl: '{php echo tomedia($l1lll1l1l11l11lllllll1lll11111l['sharethumb'])}',
                success: function(){},
                cancel: function(){}
            });
            wx.onMenuShareTimeline({
                title: '{$l1lll1l1l11l11lllllll1lll11111l['sharetitle']}',
                link: '{php echo $this->ll11ll1l1l11l11ll11llll1l1ll11l('join','xiaof_toupiao')}',
                imgUrl: '{php echo tomedia($l1lll1l1l11l11lllllll1lll11111l['sharethumb']);}',
                success: function () {},
                cancel: function () {}
            });
        });
</script>
</html>